.sickbeatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sickbeatHeader.light {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sickbeatHeader.dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.logo:hover, .logo:focus, .logo:active {
    color: var(--secondary-color);
    text-decoration: none;
}

.searchContainer {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 0 20px;
}

.searchContainer input {
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Light theme */
.sickbeatHeader.light .searchContainer input {
    background-color: #ccc;
    color: #333;
}

/* Dark theme */
.sickbeatHeader.dark .searchContainer input {
    background-color: #333;
    color: #f0f0f0;
}

.iconList {
    list-style: none;
    display: flex;
    padding-right: 5rem;
    gap: 20px;
    align-items: center;
}

.iconList li {
    text-decoration: inherit;
    color: var(--secondary-color);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.iconList li:hover {
    cursor: pointer;
}

.iconList .a {
    text-decoration: none;
    color: var(--secondary-color);
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust this value to position it under the "three bar icon" */
    right: 35px; /* Adjust the alignment */
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 10px;
}
