.sickbeatHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.sickbeatHeader.light {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.sickbeatHeader.dark {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.logo {
	font-size: 32px;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-left: 3rem;
	padding-right: 3rem;
	color: var(--secondary-color);
	text-decoration: none;
}

.logo:hover,
.logo:focus,
.logo:active {
	color: var(--secondary-color);
	text-decoration: none;
}

.searchContainer {
	flex: 1;
	display: flex;
	justify-content: left;
	margin: 0 20px;
}

.searchContainer input {
	width: 100%;
	min-width: 300px;
	max-width: 900px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Light theme */
.sickbeatHeader.light .searchContainer input {
	background-color: #ccc;
	color: #333;
}

/* Dark theme */
.sickbeatHeader.dark .searchContainer input {
	background-color: #333;
	color: #f0f0f0;
}

.iconList {
	list-style: none;
	display: flex;
	padding-right: 5rem;
	gap: 20px;
	align-items: center;
}

.iconList li {
	text-decoration: inherit;
	color: var(--secondary-color);
	font-size: 18px;
	display: flex;
	align-items: center;
}

.iconList li:hover {
	cursor: pointer;
}

.iconList .a {
	text-decoration: none;
	color: var(--secondary-color);
}

.dropdownContainer {
	position: relative;
	display: inline-block;
}

.dropdownToggle {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
}

.dropdownMenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	min-width: 150px; /* Ensure minimum width */
	border-radius: 4px; /* Rounded corners */
	overflow: hidden; /* Ensure no overflow */
	transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.dropdownItem {
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: var(--text-color); /* Use color variable from app.css */
	cursor: pointer;
	transition: background-color 0.3s ease; /* Smooth transition */
}

.dropdownItem:hover {
	background-color: var(
		--hover-background-color
	); /* Use color variable from app.css */
}

.dropdownItemButton {
	background: none;
	border: none;
	width: 100%;
	text-align: left;
	padding: 10px 20px;
	cursor: pointer;
	color: var(--text-color); /* Use color variable from app.css */
	font-size: 1rem;
}

.dropdownItemButton:hover {
	background-color: var(
		--hover-background-color
	); /* Use color variable from app.css */
}
