.sickbeatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sickbeatHeader.light {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sickbeatHeader.dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--secondary-color);
}

.logo:hover, .logo:focus, .logo:active {
    color: var(--secondary-color);
    text-decoration: none;
}

.searchContainer {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 0 20px;
}

.searchContainer input {
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sickbeatHeader.light .searchContainer input {
    background-color: #ccc;
    color: #333;
}

.sickbeatHeader.dark .searchContainer input {
    background-color: #333;
    color: #f0f0f0;
}

.iconList {
    list-style: none;
    display: flex;
    padding-right: 5rem;
    gap: 20px;
    align-items: center;
}

.iconList li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 35px;
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 10px;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
}

.logo {
    height: 100px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
}

.logoText {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    margin-left: -75px;
    margin-right: 3rem;
}

.logo img {
    max-height: 100px;
    width: auto;
}
