/* Light theme */
.sickbeat-footer.light {
    background-color: var(--background-color);
    color: var(--text-color);
}

.sickbeat-footer.light .social-section li a,
.sickbeat-footer.light .footer-content li a {
    color: var(--text-color);
}

/* Dark theme */
.sickbeat-footer.dark {
    background-color: var(--background-color);
    color: var(--text-color);
}

.sickbeat-footer.dark .social-section li a,
.sickbeat-footer.dark .footer-content li a {
    color: var(--text-color);
}

/* General footer styles */
.footer {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer-content ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-content li {
    margin: 0 10px;
}

.footer-content li a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center; /* Align items to the center */
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.footer-nav > li {
    list-style: none;
    margin: 10px 20px; /* Add some margin for spacing */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    text-align: center;
}

.company-section, .help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-items, .help-items {
    margin-top: 5px; /* Reduce the margin to decrease space */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem; /* Reduce padding to decrease space */
}

.nav-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.rights {
    white-space: nowrap;
    text-align: center;
    margin-top: 0; /* Remove top margin */
    display: flex;
    justify-content: center;
    padding-top: 0.5rem; /* Reduce padding to decrease space */
    padding-left: 30px;
    font-size: medium;
}

.social-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.social-section li {
    margin: 0 5px;
}

.social-section li a {
    text-decoration: none;
    font-size: 18px;
}