.accountPage {
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	background-color: #8c8c8c;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pictureSection {
	text-align: center;
	margin-bottom: 20px;
}

.pictureSection img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.infoSection {
	margin-bottom: 20px;
}

.infoSection h2 {
	margin-bottom: 20px;
	display: flex;
}

.infoSection label {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-weight: bold;
}

.infoSection input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.passwordSection {
	margin-bottom: 20px;
}

.passwordSection h2 {
	margin-bottom: 10px;
}

.saveCancelSection {
	display: flex;
	justify-content: space-between;
}

.saveButton,
.cancelButton,
.deleteAccount {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.saveButton {
	background-color: #4caf50;
	color: white;
}

.cancelButton {
	background-color: #f44336;
	color: white;
}

.deleteSection {
	text-align: center;
	margin-top: 20px;
}

.deleteAccount {
	background-color: #f44336;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
