.accountPage {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--base-primary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pictureSection {
    text-align: center;
    margin-bottom: 20px;
}

.pictureSection img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.infoSection {
    margin-bottom: 20px;
}

.infoSection h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: var(--contrast-primary-color);
}

.infoSection label {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--contrast-primary-color);
}

.infoSection input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--contrast-secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--base-secondary-color);
    color: var(--contrast-primary-color);
}

.passwordSection {
    margin-bottom: 20px;
}

.passwordSection h2 {
    margin-bottom: 10px;
    color: var(--contrast-primary-color);
}

.saveCancelSection {
    display: flex;
    justify-content: space-between;
}

.saveButton,
.cancelButton,
.deleteAccount {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.saveButton {
    background-color: #4caf50;
    color: white;
}

.saveButton:hover {
    background-color: #00ff0d;
    transition: scale 2s ease;
}

.cancelButton {
    background-color: #f44336;
    color: white;
}

.cancelButton:hover {
    background-color: hsl(1, 100%, 23%);
    transition: scale 2s ease;
}

.deleteSection {
    text-align: center;
    margin-top: 20px;
}

.deleteAccount {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.deleteAccount:hover {
    background-color: #6b0200;
    transition: scale 2s ease;
    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .accountPage {
        padding: 10px;
    }

    .saveCancelSection {
        flex-direction: column;
        gap: 10px;
    }

    .saveButton,
    .cancelButton,
    .deleteAccount {
        width: 100%;
        padding: 15px;
    }
}