:root {
    /* Light Mode */
    --light-base-primary-color: #f0f0f0;
    --light-base-secondary-color: #dbdbdb;
    --light-contrast-primary-color: #333333;
    --light-contrast-secondary-color: #747474;

    /* Dark Mode*/
    --dark-base-primary-color: #121212;
    --dark-base-secondary-color: #3c3c3c;
    --dark-contrast-primary-color: #e0e0e0;
    --dark-contrast-secondary-color: #b0b0b0;
}

body.light {
    --base-primary-color: var(--light-base-primary-color);
    --base-secondary-color: var(--light-base-secondary-color);
    --contrast-primary-color: var(--light-contrast-primary-color);
    --contrast-secondary-color: var(--light-contrast-secondary-color);
}

body.dark {
    --base-primary-color: var(--dark-base-primary-color);
    --base-secondary-color: var(--dark-base-secondary-color);
    --contrast-primary-color: var(--dark-contrast-primary-color);
    --contrast-secondary-color: var(--dark-contrast-secondary-color);
}

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: var(--base-primary-color);
    color: var(--contrast-primary-color);
    min-width: 820px;
}

a {
    text-decoration: none;
}
