.prompt {
    background-color: rgba(205, 51, 51, 0.9);
    color: white;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 600px;
    width: auto;
}

.text {
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    background: linear-gradient(45deg, #1db954, #1ed760);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    transform: scale(1.05);
}