.footer {
    border-top: var(--contrast-secondary-color) 1px solid;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.nav > li {
    list-style: none;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav > li a {
    text-decoration: none;
    color: var(--contrast-primary-color);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.text {
    font-size: 14px;
    margin-bottom: 5px;
}

.rights {
    white-space: nowrap;
    text-align: center;
    margin-top: 0;
    font-size: medium;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.social li {
    margin: 0 5px;
}

.social li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--contrast-primary-color);
}