.genres {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 0 65px 0 65px;
    margin-bottom: 40px;
}

.card {
    background: linear-gradient(135deg, rgba(205, 14, 123, 0.85), #f99342);
    color: #fff;
    border-radius: 15px;
    padding: 30px 20px 30px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}