.genres {
    padding: 20px 90px 90px;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

.cards {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.card {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    border-radius: 15px;
    padding: 40px 20px 40px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}