.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--base-primary-color);
    color: var(--contrast-primary-color);
}

.registerBox {
    border: 1px solid var(--contrast-primary-color);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    background-color: var(--base-primary-color);
}

.registerTitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: var(--contrast-primary-color);
}

.inputGroup {
    margin-bottom: 10px;
}

.inputField {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--base-secondary-color);
    margin-bottom: 10px;
    color: var(--contrast-primary-color);
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.submitButton {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: var(--base-secondary-color);
    color: var(--contrast-primary-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.linkContainer {
    text-align: center;
    margin-top: 20px;
}

.link {
    color: #635BFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}