.artistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
    margin-bottom: 20px;
}

.artistInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.artistInfo h1 {
    font-size: 40px;
}

.artistImage {
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.artistDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 24px;
}