@media only screen and (min-width: 961px) {
  /* Base Styles */
body, html {
    display: flexbox;
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: white;
    color: #000;
  }

  body.light {
    background-color: #DBECF4;
    color: #194569 ;
  }
  
  body.dark {
    background-color: #5F84A2;
    color: #194569 ;
  }
  
  .app.light {
    background-color:#DBECF4;
    color: #194569;
  }
  
  .app.dark {
    background-color: #5F84A2;
    color: #194569 ;
  }
  
  
  
  /* Container */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  header .icon-list {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  

  /* Hero Section */
  .hero {
    text-align: center;
  }
  
  .sickbeat-phrase {
    font-size: 48px;
    margin-bottom: 20px;
  }

 /* Footer */
 footer {
  text-align: center;
  padding: 20px;
  justify-content: center;
  display: flex;
  }
}